@font-face {
  font-family: roboto;
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: retro;
  src: url(./fonts/retro/PressStart2P-vaV7.ttf);
}

* {
  scroll-behavior: smooth;
  font-family: roboto;
  margin: 0;

}

::-webkit-scrollbar {
  height: 100%;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c82222;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}



main {
  flex: 1;
  background-image: url(./img/pokeball-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  max-height: 100%;
}

.column {
  flex-direction: column;
}

.icon {
  height: 40px;
  width: 40px;
}

.pointer:hover {
  cursor: pointer;
}

.transparent {
  color: transparent !important;
}

#content {
  flex: 1;
  align-content: flex-start;
  margin: 8px;
  margin-top: 120px;
  gap: 64px;
  min-width: 360px;
  max-width: 1440px;
  color: white;

}

#load-more-btn {
  font-weight: 700;
  font-size: 19px;
  width: 214px;
}

#load-more-btn img {
  width: 25%;
}

.retro-font {
  font-family: retro;
  font-size: 10px;
}

.hover-effect {
  transition: all 0.125s ease-in-out;
}

.hover-effect:hover {
  scale: 1.2;
}

.animation-fade-in {
  animation: fadeIn ease-in-out;
  animation-duration: 125ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);

  }

  50% {
    opacity: 1;
    filter: blur(0px);

  }

  100% {
    opacity: 1;
    filter: blur(0px);

  }
}