@font-face {
    font-family: roboto;
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

* {
    scroll-behavior: smooth;
    font-family: roboto;
    /* font-weight: 500; */
}

main {
    flex: 1;
    max-width: 1440px;
}

.icon {
    height: 40px;
    width: 40px;
}

#content {
    gap: 64px;
}

.pointer:hover {
    cursor: pointer;
}

.transparent {
    color: transparent !important;
}

@media (max-width: 452px) {
    .headline {
        display: none;
    }
    .pokeball {
        height: 80px !important;
    }
    .search {
        flex-direction: column-reverse;
        height: 77px !important;
    }
    #header-container {
        align-items: flex-start !important;
    }
    #drop-down-1 {
        padding-left: 0;
    }
}