/* CSS for Pokemon types */

.bug::before {
  background-image: url('./../img/icon/icon-types/bug.webp');
}

.bug {
  fill: #a6b91a;
}

.dark::before {
  background-image: url('./../img/icon/icon-types/dark.webp');
}

.dark {
  fill: #705746;
  color: white;
}

.dragon::before {
  background-image: url('./../img/icon/icon-types/dragon.webp');
}

.dragon {
  fill: #6f35fc;
  color: white;
}

.electric::before {
  background-image: url('./../img/icon/icon-types/electric.webp');
}

.electric {
  fill: #f7d02c;
  color: white;
}

.fairy::before {
  background-image: url('./../img/icon/icon-types/fairy.webp');
}

.fairy {
  fill: #d685ad;
}

.fighting::before {
  background-image: url('./../img/icon/icon-types/fighting.webp');
}

.fighting {
  fill: #c22e28;
}

.fire::before {
  background-image: url('./../img/icon/icon-types/fire.webp');
}

.fire {
  fill: #ee8130;
}

.flying::before {
  background-image: url('./../img/icon/icon-types/flying.webp');
}

.flying {
  fill: #a98ff3;
}

.ghost::before {
  background-image: url('./../img/icon/icon-types/ghost.webp');
}

.ghost {
  fill: #735797;
  color: white;
}

.grass::before {
  background-image: url('./../img/icon/icon-types/grass.webp');
}

.grass {
  fill: #7ac74c;
}

.ground::before {
  background-image: url('./../img/icon/icon-types/ground.webp');
}

.ground {
  fill: #e2bf65;
}

.ice::before {
  background-image: url('./../img/icon/icon-types/ice.webp');
}

.ice {
  fill: #96d9d6;
}

.normal::before {
  background-image: url('./../img/icon/icon-types/normal.webp');
}

.normal {
  fill: #a8a77a;
}

.poison::before {
  background-image: url('./../img/icon/icon-types/poison.webp');
}

.poison {
  fill: #a33ea1;
  color: white;
}

.psychic::before {
  background-image: url('./../img/icon/icon-types/psychic.webp');
}

.psychic {
  fill: #f95587;
  color: white;
}

.rock::before {
  background-image: url('./../img/icon/icon-types/rock.webp');
}

.rock {
  fill: #b6a136;
}

.steel::before {
  background-image: url('./../img/icon/icon-types/steel.webp');
}

.steel {
  fill: #b7b7ce;
  color: white;
}

.water::before {
  background-image: url('./../img/icon/icon-types/water.webp');
}

.water {
  fill: #6390f0;
}