.card {
  text-wrap: nowrap;
  width: 214px;
  height: 280px;
}

.card:hover {
  cursor: pointer;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pokemon-types {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name {
  position: absolute;
  top: 8px;
}

.pokemon-types-container {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  padding: 8px;
}

.pokemonImg {
  width: 180px;
  height: 180px;
  z-index: 10;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.pokemonImg:hover {
  width: 240px;
  height: 240px;
}
