.detail-info-bg {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 40px;
    z-index: 100;
}

.bg-info-card {
    height: 100vh;
    overflow: hidden;
    margin: 0 !important;
}

.detail-info {
    height: 80vh;
    width: 550px;
}

#pokemon-img {
    width: 320px;
    height: 200px;
}

#container {
    height: 280px;
}

#statName {
    font-size: 12px;
    width: 150px;
}

.chain {
    width: 80px;
    height: 80px;
}

.arrow {
    height: 40px;
}

.appearance {
    height: 90px;
    width: 90px;
}

.wrap {
    flex-wrap: wrap;
    gap: 16px;
}

#evo-container-first-evo {
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px;
}

.move {
    font-size: 12px;
}