.detail-info-bg {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 40px;
    z-index: 100;
}

.bg-info-card {
    height: 100vh;
    padding-top: 100px;
    overflow: hidden;
}

.detail-info {
    height: 80vh;
    width: 550px;
}

#pokemon-img {
    width: 320px;
    height: 200px;
}

#container {
    height: 300px;
}

#container svg {
    position: relative;
    height: 280px;
    width: 320px;
}

#stats-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress-bar {
    text-align: start;
}

.chain {
    width: 80px;
    height: 80px;
}

.arrow {
    height: 40px;
}


/* .column {
    flex-direction: column;
} */

.appearance {
    height: 90px;
    width: 90px;
}

.wrap {
    flex-wrap: wrap;
    gap: 16px;
}

#evo-container-first-evo {
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px;
}

.move {
    font-size: 12px;
}