header {
    /* height: 120px; */
    padding: 40px 40px 0px 40px;
    background-color: white;
    box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

p {
    margin: 0;
}

#input-message {
    font-size: 10px;
    color: rgb(255 63 63);
}

.search {
    height: 45px;
}

#drop-down-1 {
    padding-top: 0;
}