header {
  width: 100%;
  min-height: 120px;
  padding: 0 40px;
}

p {
  margin: 0;
}
#input-message {
  font-size: 10px;
  color: rgb(255 63 63);
}

.search {
  height: 45px;
}

#drop-down-1 {
  padding-top: 0;
}
